*{
  margin:0;
  padding:0;
  border:0;
  outline:none;
  font-weight:normal;
  text-decoration:none;
  font-family:inherit;
  font-style:normal;
  font-size:inherit;
  line-height:inherit;
  color:inherit;
  background-color:transparent;
}
a, label, button, input[type=submit]{
  cursor:pointer;
}
html{
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size:14px;
  background-color:#eee;
  color:#999;
}
body{
  text-align:center;
}

#mainBox{
  border-style:solid;
  border-color:transparent;
  border-right-width:300px;
  min-width:320px;
}
nav{
  min-height:100vh;
  width:300px;
  position:fixed;
  top:0px;
  right:0px;
  z-index:1000;
}
#navTrigger{
  width:0px;
  height:100%;
  position:fixed;
  top:0px;
  left:0px;
  border:0;
  border-radius:0;
  margin:0;
  padding:0;
  background-color:#000;
  opacity:0;
  z-index:500;
  transition:opacity 0.2s;
  -webkit-transition:opacity 0.2s;
}

#mainBox{
  min-height:100vh;
  padding:0px 10px;
  overflow:hidden;
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  box-sizing:border-box;
}
body{
  text-align:center;
}
footer{
  padding:18px 0;
}

#promptOutput{
  font-size:48px;
  line-height:58px;
  margin:10px;
  color:#000;
  opacity:1;
  text-shadow:0px 3px 10px #ccc;
  transition:opacity 0.2s, text-shadow 0.5s, color 0.3s;
  -webkit-transition:opacity 0.2s, text-shadow 0.5s, color 0.3s;
}
#promptOutput:before{
  content:"\201c";
}
#promptOutput:after{
  content:"\201d";
}
#promptNext:hover+main #promptOutput{
  text-shadow:none;
}
#promptNext:active+main #promptOutput{
  opacity:0;
}


.links,
#wordTypes{
  font-size:0;
}
.links li,
#wordTypes li{
  font-size:1rem;
  margin:2px;
  display:inline-block;
}
#wordTypes input,
#navToggler{
  display:block;
  position:absolute;
  top:0;
  left:0;
  width:1px;
  height:1px;
  overflow:hidden;
  opacity:0.01;
}
label,
.links a{
  display:block;
  line-height:1em;
  padding:10px 15px;
  border-radius:5px;
  background-color:rgba(0,0,0,0);
  transition:background-color 0.2s;
  -webkit-transition:background-color 0.2s;
}
.links a:hover,
label:hover,
input:checked+label{
  background-color:rgba(0,0,0,0.07);
}
input:checked+label:hover{
  text-decoration:underline;
}

nav{
  background-color:#ddd;
  color:#444;
  text-align:center;
}
#innerNavBox{
  box-sizing:border-box;
  padding-left:15px;
  padding-right:15px;
}
nav ul{
  list-style:none;
}
nav h3{
  line-height:36px;
}
nav label,
nav input,
nav textarea{
  display:block;
  border-radius:5px;
  width:100%;
  overflow:hidden;
  box-sizing:border-box;
  background-color:#eee;
  color:#aaa;
  transition:color 0.2s, height 0.2s;
  -webkit-transition:color 0.2s, height 0.2s;
}
nav label:hover,
nav input:hover,
nav textarea:hover{
  background-color:#eee;
}
nav label{
  border-bottom-left-radius:0;
  border-bottom-right-radius:0;
  cursor:text;
  border:none;
  margin:0;
  padding:0;
  line-height:20px;
}
nav textarea{
  border-top-left-radius:0;
  border-top-right-radius:0;
  padding-top:0;
  resize:none;
  height:22px;
}
nav input,
nav textarea{
  margin-bottom:10px;
  padding:5px;
}
nav input:focus,
nav textarea:focus{
  color:#000;
}
nav textarea:focus{
  overflow-y:scroll;
  height:100px;
  resize:vertical;
}
nav input[type=submit]{
  color:#444;
}
nav .links a{
  border:0;
  padding:0 5px;
  line-height:20px;
}


#promptNext{
  display:inline-block;
  position:relative;
  width:auto;
  align-self:center;
  cursor:pointer;
  margin:10px 0;
  line-height:24px;
  padding-left:20px;
  padding-right:20px;
  padding-top:12px;
  height:48px;
  box-shadow:0px -2px 3px 2px #b00 inset;
  background-color:#f00;
  color:#fdd;
  text-shadow:0px -1px 0 #baa;
  transition:box-shadow 0.1s, padding-top 0.1s;
}
#promptNext:after{
  display:block;
  position:absolute;
  top:0;
  left:0;
  content:"";
  width:100%;
  height:100%;
  box-shadow:0px 1px 3px 0px #333;
  transition:box-shadow 0.1s;
}
#promptNext,
#promptNext:after{
  border-radius:24px;
  box-sizing:border-box;
}
#promptNext:hover{
  padding-top:13px;
  box-shadow:0px -1px 3px 2px #b00 inset;
}
#promptNext:hover:after{
}
#promptNext:active{
  box-shadow:0px 5px 3px 2px #b00 inset;
  padding-top:16px;
}
#promptNext:active:after{
  box-shadow:0px 0px 1px 0px #333;
}



@media (max-width: 640px){
  #mainBox{
    border-right-width:20px;
  }
  #promptOutput{
    font-size:32px;
    line-height:42px;
  }
  nav{
    right:-300px;
    transition:right 0.2s;
    -webkit-transition:right 0.2s;
  }
  #navTrigger{
    left:auto;
    right:0px;
    width:30px;
    opacity:0.2;
  }
  #navTrigger:hover{
    opacity:0.3;
  }
  #navToggler:checked+#navTrigger{
    width:100%;
    opacity:0.5;
  }
  #navToggler:checked+*+*+nav{
    right:0px;
    box-shadow:0px 0px 50px 1px #000;
  }
}
